@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
.all
{
	
}
    .boxbb{

        position: relative;
        width: 380px;
        height: 570px;
        background: #1c1c1c;
        border-radius: 8px;
        overflow: hidden;
    }
    .boxbb::before{
        content: '';
        position: absolute;
        top: -50%;
        left:-50% ;
        width: 320px;
        height: 420px;
        background:linear-gradient(0deg,transparent,#45f3ff,
        transparent,#45f3ff) ;
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
    }
    .boxbb::after{
        content: '';
        position: absolute;
        top: -50%;
        left:-50% ;
        width: 320px;
        height: 420px;
        background:linear-gradient(10deg,transparent,#45f3ff,
        transparent,#45f3ff) ;
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
        animation-delay: -3s;
    }
    @keyframes animate{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }

    .formbb{
        position:absolute;
        inset: 2px;
        border-radius: 8px;
        background: #28292d;
        z-index: 10;
		padding:50px 40px;
		display: flex;
		flex-direction: column;
    }
	.formbb h2{
		color: #45f3ff;
		font-weight: 500;
		text-align: center;
		letter-spacing: 0.1em;
	}
	.inputboxbb{
		position: relative;
		width: 300px;
		margin-top: 35px;

}

.inputboxbb input{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	border: none;
	outline: none;
	color: #23242a;
	font-size: 1em;
	letter-spacing: 0.05em;
	z-index: 10;
}

.inputboxbb span{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	font-size: 1em;
	color: #8f8f8f;
	pointer-events: none;
	letter-spacing: 0.05em;
	transition: 0.5s;
}
.inputboxbb input:valid ~ span,
.inputboxbb input:focus ~ span
{
	color: #45f3ff;
	transform:translateX(0px) translateY(-34px);
	font-size: 0.75em;
}
.inputboxbb i{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #45f3ff;
	border-radius: 4px;
	transition: 0.5s;
	pointer-events: none;
}
.inputboxbb input:valid ~ i,
.inputboxbb input:focus ~ i{
  height: 44px;
}
.linksbb{
	display: flex;
	justify-content: space-between;
}
.linksbb a{
	margin: 10px 0;
	font-size: 0.75em;
	color: #8f8f8f;
	text-decoration: none;
}
.linksbb a:hover,
.linksbb a:nth-child(2){
	color: #45f3ff;
}
input[type="submit"]
{
	border: none;
	outline: none;
	background: #45f3ff;
	padding: 11px 25px;
	width: 100px;
	margin-top: 10px;
	border-radius: 4px;
	font-weight: 600;
	cursor: pointer;
}
input[type="submit"]:active
{
	opacity: 0.8;
}